/* Show border arround element  for debugging */
.debug {
	border: 1px solid red;
}

/* Change default font size */
html,
body {
    font-family: "Raleway", arial, sans-serif;
	color: 	#151821;
	// font-size: 14px;
	// font-family: 'Arial';
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// text-rendering: optimizeLegibility;
	// overflow: hidden;
}

h1 {
    // font-weight: 900;
	// font-family: 'Arial';
}

/* Remove rounded corners */
.card, .list-group-item, .dropdown-menu, .btn, input, select, .dropdown-list {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

/* layout */
.main-area-container {
	display: flex;
    margin-top: 70px;
}

.main-area {
	flex: auto;
	overflow-x: none;
	overflow-y: auto;
	//height: calc(100vh - 80px);
}

/* Transaction search result table */
.search-result-table-area {
	// overflow-y: auto;
	// height: calc(100vh - 200px);
    // max-height: calc(100vh - 200px);
    // border: 0;
}

/* overide default button style */
.main-area .btn,
.modal-footer .btn,
.modal-body .btn {
	// width: 90px;
	// border: 1px solid rgba(0,0,0,.125);
	// font-weight: bold;
	margin-left: 5px;
}


/* navbar style */
.navbar {
   // background-color: rgb(0, 4, 59) !important;
	padding: 0;
	height: 70px;
}

.navbar-brand {
	// padding-bottom: 0.3125rem;
	// margin: 0 3rem 0 2rem;
	// font-size: 1.8rem;
	// font-weight: 400;
}

.navbar-nav a {
	// text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	color: #ffffff;
}

.navbar-nav .nav-link {
	padding: 1.5rem 2rem !important;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: #ff8888;
	// background-color: #048;
}

/* cursor in search screen result */
.pointer {
	cursor: pointer;
}

/* modal popup style */
// .modal-header {
// 	background-color: #2098d1;
// 	padding: 0.5rem;
// 	color: white;
// }

// .modal-body {
// 	max-height: calc(100vh - 200px);
// 	overflow-y: auto;
// 	padding: 2rem;
// }

// .modal-dialog.modal-lg {
// 	max-width: 992px;
// }

// .modal-dialog.modal-sm {
// 	max-width: 600px;
// }

/* align text to right */
.alignright { 
	text-align: right; 
}

.aligncenter { 
	text-align: center; 
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

/* form validation error message */
// .error-message { 
// 	color: red;
// }

// /* transactions hierarchy tree */

// .tree path { 
//     stroke: black;
// 	stroke-width: 1px;
// 	fill: none;
// 	stroke-dasharray: 10, 20;
// }

// .tree rect {
// 	width: 50;
// 	height: 50;
// 	stroke: black;
// 	stroke-width: 2px;
// }

// /* fix header table */
// .table-headers-fix {
//     border-collapse: separate;
//     border-spacing: 0;
// }

// .table-headers-fix thead th {
//     position: sticky;
//     top: 0;
//     z-index: 900;
// }

// .table-headers-fix td,
// .table-headers-fix th {
//     border: 1px #fff solid !important;
//     border-top: 0 !important;
//     border-left: 0 !important;
// }

.stipes {
	background-image: url("assets/colors-band.png");
	background-repeat: no-repeat;
}

.main-img {
	//position: relative;
	height: 400px;
	margin-top: 0px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) , url("assets/group.png");
	//background-repeat: no-repeat;
	background-repeat: repeat;
	//background-size: cover;
	background-size : contain;
	//background-size : 500px  500px;
	//background-attachment: fixed;
	//background-position: 0px -250px;
	z-index: 0;
	color: yellow;
}

.main-title {
	font-family: Lobster;
	font-size: 3em;
	text-shadow: 2px 2px 2px #a0a0a0;
}
